.doctors-card-info .card-location
{
    margin-top: 12px;
}
.fee-amount
{
    color: #34363D;
    font-weight: 600;
    font-family: 'OpenSans-SemiBold';
}
.book-package-form form input,
.book-package-form form select,
.book-package-form form textarea
{
    padding: 15px;
    font-size: 16px;
    color: #0e0e0e;
    border: none;
    box-shadow: none;
    border: 1px solid #DDDDDD;
}
.book-package-form form input::placeholder,
.book-package-form form textarea::placeholder
{
    color: #AEAEAE;
}
.book-package-form form select
{
    color: #AEAEAE;
}
.book-package-form form label
{
    color: #AEAEAE;
    font-size: 16px;
}
.book-package-form form .form-check input
{
    padding: 9px;
    margin-right: 12px;
}
.book-package button.btn-default
{
    padding: 10px 20px;
}
.invalid-feedback
{
    text-transform: capitalize;
}