<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <span class="text-primary-custom">Logo</span>
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="isMenuOpen" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="treatmentsDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Treatments Plan
          </a>
          <ul class="dropdown-menu" aria-labelledby="treatmentsDropdown">
            <li>
              <a class="dropdown-item" routerLink="/treatments" routerLinkActive="active">
                Surgical Treatment Plan
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/online-consultation" routerLinkActive="active">
                Online Consultation
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/associate-hospital" routerLinkActive="active">Associate Hospitals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/doctors" routerLinkActive="active">Our Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/blog" routerLinkActive="active">Articles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>
        <li class="nav-item">
          <div class="head-searchbar">
            <a class="nav-link header-search" (click)="toggleSearchBox()" id="show-search-box"><i class="fa fa-search flip-icon"></i></a>
            <form id="hidden-search-box" class="navbar-form hidden-search-box" *ngIf="showSearchBox" id="hidden-search-box" role="search">
              <div class="traingle"></div>
              <div class="input-group add-on">
                <input class="form-control addon-text-box" placeholder="Search Doctors And Packages" name="s"  type="text">
                <button type="submit" class="input-group-btn addon-btn">
                  <i class="fa fa-search flip-icon"></i>
                </button>
              </div>
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active" class="btn-default login-btn ms-3"><i
              class="ms-0 fa-regular fa-circle-user"></i> Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>