<section class="inner-banner" *ngIf="treatment">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-baner-dtl position-relative text-center">
                    <!-- Banner Image -->
                    <img *ngIf="treatment.images && treatment.images.length" [src]="baseUrl + treatment.images[0].url"
                        class="w-100 img-fluid rounded-5 banner-img" [alt]="treatment.name || 'Treatment image'" />
                    <div class="inner-heading">
                        <h2>{{ treatment.name }}</h2>
                        <ul class="breadcumb d-flex justify-content-center align-items-center gap-3">
                            <li><a routerLink="/">Home</a></li>
                            <li><img [src]="'assets/images/breadcumb.svg'" /></li>
                            <li><a routerLink="/associate-hospitals">Associate Hospitals</a></li>
                            <li><img [src]="'assets/images/breadcumb.svg'" /></li>
                            <li><a routerLink="/">{{ treatment.name }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hospital-detail ptc-80" *ngIf="treatment">
    <div class="container">
        <div class="row">
            <!-- Main Image -->
            <div class="col-md-6">
                <div class="detail-image">
                    <img *ngIf="treatment.images && treatment.images.length" [src]="baseUrl + treatment.images[0].url"
                        class="img-fluid w-100" [alt]="treatment.name || 'Treatment image'" />
                </div>
            </div>

            <!-- Info -->
            <div class="col-md-6">
                <div class="dtl-info hospital-info treatment-info">
                    <h2 class="section-title">{{ treatment.name }}</h2>
                    <div class="detail-description">
                        <p>{{ treatment.short_description }}</p>
                    </div>
                    <!-- <p><strong>Type:</strong> {{ treatment.treatment_type }}</p> -->
                    <div class="detail-location d-flex align-items-center card-location">
                        <img [src]="'assets/images/card-location.svg'">
                        <p class="mb-0">{{ treatment.location }}</p>
                    </div>
                    <!-- <p><strong>Rating:</strong> ⭐ {{ treatment.rating }}</p> -->
                    <div class="treatment-price">
                        <p *ngIf="treatment.price_exact"><strong>Price:</strong> ₹{{ treatment.price_exact | number }}
                        </p>
                    </div>
                    <div class="book-package">
                        <button (click)="openModal()" class="btn-default">Book Package Now <i
                                class="fa-solid fa-arrow-up"></i></button>
                    </div>
                    <app-modal [title]="'Book Package'" [show]="showModal" (close)="closeModal()">
                        <div class="book-package-form">
                            <form>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" placeholder="Enter Email Id">
                                </div>
                                <div class="mb-3">
                                    <input type="number" class="form-control" placeholder="Enter Mobile Number">
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Select Service</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Budget Preference</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Doctor Preference">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Hospital Preference">
                                </div>
                                <div class="mb-3">
                                    <label for="formFileLg" class="form-label">Upload Your Medical History</label>
                                    <input class="form-control form-control-lg" id="formFileLg" type="file">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Your Query"></textarea>
                                </div>
                                <div class="mb-2 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Do You Need Travel Assistance?</label>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Do You Need Stay Assistance?</label>
                                </div>
                                <div class="package-book-note">
                                    <p class="mb-0"><span>Note:</span> That travel and stay will incur additional charges</p>
                                </div>
                                
                            </form>
                        </div>
                    </app-modal>
                </div>
            </div>
        </div>

        <!-- Long Description -->
        <div class="row">
            <div class="col-md-12">
                <div class="detail-info">
                    <div class="dtl-head">
                        <h2>About {{ treatment.name }}</h2>
                    </div>
                    <p class="mb-0">{{ treatment.long_description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dtl-center-image ptc-60" *ngIf="treatment">
    <div class="container">
        <div class="row">
            <div class="col-md-6" *ngIf="treatment.images && treatment.images.length > 2">
                <img [src]="baseUrl + treatment.images[2].url" class="img-fluid w-100 rounded-4"
                    [alt]="treatment.name || 'Treatment image'" />
            </div>
            <div class="col-md-6" *ngIf="treatment.images && treatment.images.length > 3">
                <img [src]="baseUrl + treatment.images[3].url" class="img-fluid w-100 rounded-4"
                    [alt]="treatment.name || 'Treatment image'" />
            </div>
        </div>
    </div>
</section>

<section class="faq-main ptc-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="dtl-faq">
                    <div class="faq-head">
                        <p>Frequently Asked Questions</p>
                        <h4>Helping you understand healthcare</h4>
                    </div>
                    <div class="accordion accordion-main" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne">Lorem Ipsum is simply dummy text of the
                                    printing</button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting
                                        industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                        1500s, when an unknown printer took a galley of type and scrambled.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                                    Lorem Ipsum is simply dummy text of the printing
                                </button>
                            </h2>
                            <div id="collapsetwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                                    Lorem Ipsum is simply dummy text of the printing
                                </button>
                            </h2>
                            <div id="collapsetwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                                    Lorem Ipsum is simply dummy text of the printing
                                </button>
                            </h2>
                            <div id="collapsetwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapsetwo" aria-expanded="false" aria-controls="collapsetwo">
                                    Lorem Ipsum is simply dummy text of the printing
                                </button>
                            </h2>
                            <div id="collapsetwo" class="accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p class="mb-0">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-doctors">
                    <div class="dtl-doctor-head d-flex align-items-center justify-content-between">
                        <h4>Top Doctors</h4>
                        <a href="#">View All</a>
                    </div>
                    <div class="dtl-doctor-list d-flex align-items-center">
                        <div class="dtl-doctor-img">
                            <img [src]="'assets/images/dtl-doctor.png'" class="img-fluid">
                        </div>
                        <div class="dtl-doctor-info">
                            <p>Dr. Prof Raju Vaishya</p>
                            <ul>
                                <li>Orthopaedic Surgeon</li>
                                <li>35 Years of Experience</li>
                            </ul>
                        </div>
                    </div>
                    <div class="dtl-doctor-list d-flex align-items-center">
                        <div class="dtl-doctor-img">
                            <img [src]="'assets/images/dtl-doctor.png'" class="img-fluid">
                        </div>
                        <div class="dtl-doctor-info">
                            <p>Dr. Prof Raju Vaishya</p>
                            <ul>
                                <li>Orthopaedic Surgeon</li>
                                <li>35 Years of Experience</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dtl-cta ptc-80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dtl-cta-main position-relative">
                    <img [src]="'assets/images/dtl-cta.jpg'" class="img-fluid w-100 rounded-4">
                    <div class="dtl-cta-action">
                        <h2>Take the first step to <br> better health</h2>
                        <a href="#" class="btn-default">Talk To Our Experts Now <i class="fa-solid fa-arrow-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>