<section class="inner-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-baner-dtl position-relative text-center">
                    <img [src]="'assets/images/associate-hospital.png'" class="w-100 img-fluid rounded-5" />
                    <div class="inner-heading">
                        <h2>Associate Hospital</h2>
                        <ul class="breadcumb d-flex justify-content-center align-items-center gap-3">
                            <li><a href="/">Home</a></li>
                            <li><img [src]="'assets/images/breadcumb.svg'"></li>
                            <li><a href="/">Associate Hospital</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="card-list-main ptc-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="main-head text-center mbc-50">
                    <h2>Our Associate Hospitals</h2>
                    <p>Discover our trusted network of hospitals providing world-class facilities.</p>
                </div>
            </div>
        </div>

        <div *ngIf="loading" class="text-center">Loading hospitals...</div>

        <div class="row" *ngIf="!loading && hospitals.length">
            <div *ngFor="let h of hospitals" class="col-md-4 mb-4">
                <div class="user-card hospital-card">
                    <div class="card-inner">
                        <div class="user-card-img">
                            <img *ngIf="h.images?.length" [src]="'http://165.22.223.163:8000' + h.images[0].url"
                                [alt]="h.name" class="card-img-top img-fluid" />
                        </div>
                        <div class="user-card-content">
                            <h5 class="card-title">{{ h.name }}</h5>
                            <div class="user-card-description">
                                <p class="card-text truncate-2">{{ h.description }}</p>
                            </div>
                            <div class="d-flex align-items-center card-location">
                                <img [src]="'assets/images/card-location.svg'">
                                <p class="user-card-location mb-0"> {{ h.location }}</p>
                            </div>
                            <!-- <p><i class="fa-solid fa-phone"></i> {{ h.phone }}</p>
                            <p><strong>Features:</strong> {{ h.features }}</p>
                            <p><strong>Facilities:</strong> {{ h.facilities }}</p> -->
                        </div>
                        <div class="read-more">
                            <a *ngIf="h.id" [attr.href]="'/hospital-detail/' + h.id" class="btn">
                                More Detail <i class="fa fa-arrow-up"></i>
                            </a>
                            <!-- <a *ngIf="h.id" [attr.href]="'#/hospital-detail/' + h.id" class="btn">
                                More Detail <i class="fa fa-arrow-up"></i>
                            </a> -->
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="!loading && !hospitals.length" class="text-center">
            No hospitals found.
        </div>
    </div>
</section>